html, body {
  color:#2699fb;
}
h2{
  text-transform: uppercase;
  font-weight: bolder;
}
.btn-primary:active, .btn-primary:focus{
  -webkit-box-shadow:none!important;
  box-shadow: none!important;
}
#form-create .rdw-editor-toolbar{
  border-color: #ced4da;
}
section#about, section#features, section#contact{
  padding: 70px 0;
}
.main-content main{
  background-color: #f1f8fe;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}
.demo-editor {
    height: 275px !important;
    border: 1px solid #ced4da !important;
    padding: 5px !important;
    border-radius: 2px !important;
  }
.row#edashboard{
    padding-bottom: 0px;
    padding-top: 55px;

  }
/* navbar landingpage */
.navbar#mainNav{
  background-color: #2699fb;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{
  color:#dae0e5!important;
}
/* end navbar landingpage */
/* section about */
section#about.bg-primary{
  background-color: #ffffff !important;
  /* padding-bottom: 0px; */
}
/* end section about */
/* section features */
section#features{
  background-color: #f1f9ff;
}
section#features .list-features{
  list-style: none;
  border-right: 1px solid #ffffff;
}
/* section#features .list-features:last-child{
  border-right: none;
} */
section#features .service-box{
  min-height: 100px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 33px;
  max-width:226px;
}
section#features .service-box-icon{
  float:left;
  height: 160px;
  width: 160px;
  text-align: center;
  font-size: 30px;
  line-height: 74px;
  background: #bce0fd;
  border-radius: 100%;
  margin-bottom: 50px;
}
section#features .title{
  text-transform: uppercase;
  margin-bottom: 48px;
  font-weight: bold;
}
section#features .description{
  font-size: 14px;
}
/* end section features */
/* section contact */
section#contact .title{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
section#contact .description{
  font-size: 14px;
}
section#contact .name-contact{
  font-weight: bold;
}
/* end section contact */
/* account page */
section#account-page .wrapper-content .form-group.account{
  width: 100%;
  position: relative;
  border-bottom: 2px solid #2699fb;
  margin-bottom: 20px;
}
section#account-page .wrapper-content .account .form-control{
  background: transparent;
  padding: 0 5px;
  height: 45px;
  font-family: FontAwesome;
  color:#2699fb;
}
section#account-page .wrapper-content .account .form-control::-webkit-input-placeholder{
  color:#2699fb;
}
section#account-page .wrapper-content .account .form-control::-moz-placeholder{
  color:#2699fb;
}
section#account-page .wrapper-content .account .form-control:-ms-input-placeholder{
  color:#2699fb;
}
section#account-page .wrapper-content .account .form-control:focus{
  webkit-box-shadow:none;
  box-shadow: none;
}
section#account-page .wrapper-content .form-group input{
  outline: none;
  border: none;
}
section#account-page .wrapper-content .form-group .btn-primary{
  background-color: #ffffff;
  color: #2699fb;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #f1f1f1;

}
section#account-page .wrapper-content .form-group .btn-primary:hover,
section#account-page .wrapper-content .form-group .btn-primary:active,
section#account-page .wrapper-content .form-group .btn-primary:focus{
  color: #ffffff;
  background-color: #2699fb!important;
  border: 1px solid #f1f1f1;
}
/* end account page */
/* header admin */
#mainNav .filter-section,
#mainNav .search-section{
  display: inline-block;
  position: relative;
}
#mainNav .input-group-prepend #search-icon{
  background-color: transparent;
  color: #ffffff;
  border-right:none;
  border-color: #ffffff;

}
#mainNav #search-input{
  background-color: transparent;
  color: #ffffff;
  border-left:none;
  border-color: #ffffff;
}
#mainNav #search-input:focus{
 -webkit-box-shadow: none;
  box-shadow: none;
}
#mainNav #search-input::-webkit-input-placeholder{
  color: #ffffff;
}
#mainNav #search-input::-moz-placeholder{
  color: #ffffff;
}
#mainNav #search-input:-ms-input-placeholder{
  color: #ffffff;
}
#mainNav .create-event{
  margin-right: 20px;
}
#mainNav .create-event #create-btn{
  border: 1px solid #ffffff;
  border-radius: 50px;
}
#mainNav .droplist-bg{
  border-color: #ffffff;
  background-color: #2699fb;
  color: #ffffff;
}
#mainNav .droplist-bg option{
  height: 100px;

}
/* #mainNav .droplist-bg option:hover{
  background-color: #65b5f9;
} */

#mainNav #navright-admin{
  border-left:1px solid #ffffff;
}
#mainNav #navright-admin .droplist-bg a:hover {
  background-color: #65b5f9;
}
/* end header admin */
/* list event */
#list-esection{
  position: relative;
}
#list-esection .btnCreate{
  position: fixed;
  top:51%;
  right:0.5%;
  z-index: 99;
}
#list-esection .btnCreate .ecreate{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #2699fb;
  color: #ffffff;
  border: 1px solid #f1f1f1;

}
.ecreate:before, .ecreate:after {
  position: absolute;
  /* left: 15px; */
  left: 50%;
  content: ' ';
  /* height: 17px; */
  height: 50%;
  width: 2px;
  background-color: #f1f1f1;
}
.ecreate:after {
  transform: rotate(90deg);
}
#list-esection .events-list{
  margin: 10px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius:10px;
  min-height: 200px;
  /* background-image: url('../img/eventlist-bg.jpg'); */
  background-size: cover;
  color:#ffffff;
  text-decoration: none;
  position: relative;
}
#list-esection .events-list .date-create{
  padding:10px;
  display: table-caption;

}
#list-esection .events-list .event_title{
  position: absolute;
  bottom:0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  height: 35%;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
#list-esection .events-list .img-features{
  max-width: 292px;
  margin: 0 auto;
  position: relative;

}
#list-esection .events-list .features-img{
  width:100%;
  vertical-align: middle;
}
.events-list .s {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/* end list event */
/* new event */
.new-event .btn.btn-primary{
  background-color: #2699fb!important;
  margin-right: 20px;
  padding: 10px 10px;
  width: 100px;
}
#form-edit #upimages,
#form-create #upimages{
  border:none;
}
#form-edit #upimages:focus,
#form-edit #upimages:active,
#form-create #upimages:focus,
#form-create #upimages:active{
  webkit-box-shadow:none;
  box-shadow: none;
}
/* end new event */
/* edit event */
#form-edit .featured-image{
  min-height:200px;
}
#form-create label,
#form-edit label{
  border-bottom: 1px solid #cecece;
  width: 30%;
  color: #7f7f7f;
  font-weight: bold;
}
.message-noimage{
  color:#7f7f7f;
}
#form-create i,
#form-edit i{
  color:#2699fb;
}
/* end edit event */
/* single event */
#edashboard #single-event{
  color: #7f7f7f;
}
#edashboard #single-event .event-item>i{
  color:#2699fb;
}
#edashboard .feature-image{
  height: 230px;
  width: 100%;
  border:1px solid #53adfa;
}
#edashboard .event-title{
  text-align: left;
  font-weight: 700;
  padding-bottom: 15px;

}
#edashboard .event-detail ul{
  padding-left: 0;
  list-style: none;
}
#edashboard .event-description .event-item,
#edashboard .event-detail ul li>.event-item{
  border-bottom: 1px solid #cecece;
}
#edashboard .event-description{
  text-align: left;
}
#edashboard .event-sponsors,
#edashboard .event-doc{
  padding: 15px 15px 5px 0;
}
#edashboard .event-sponsors .event-item,
#edashboard .event-doc .event-item{
  border-top: 1px solid #cecece;
  padding-top: 15px;
  margin-bottom: 0px;
}
#edashboard .images-section ul{
  padding-left: 0px;
}
#edashboard .images-section .image-item{
  list-style: none;
  display: inline-block;;
  width:100px;
  height: 100px;
  border:1px solid #2699fb;
  margin:10px;
  text-align: center;
  line-height: 90px
}
#edashboard .images-section .image-item a{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  text-decoration: none;
  color:#2699fb;
}
/* end single event */
/* dashboard admin */
#dashboard-admin #mainNav.navbar{
  position: fixed;
}
#dashboard-admin .card-body,#dashboard-admin .card-header{
  color:#000;
}
#sidebarNav{
  border-bottom: 1px solid rgba(33,37,41,.1);
  background-color: #0f273e;
  -webkit-transition: all .2s;
  transition: all .2s;
  min-height: 550px;
}
#sidebarNav .navbar-nav>li.nav-item>a.nav-link{
  padding: .5rem 1rem;
}
#sidebarNav .navbar-nav>li.nav-item>a.nav-link, #sidebarNav .navbar-nav>li.nav-item>a.nav-link:focus{
  font-size: .9rem;
  font-weight: 400;
  position: relative;

}
#sidebarNav .nav-link>i{
  width:35px;
  text-align: center;
}
.sidebar-menu{
  list-style: none;
  white-space: nowrap;

}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 37%;
    margin-top: -7px;
}
.sidebar-menu > li.active > a,
.sidebar-menu > li.menu-open > a {
  color:#f1f1f1;
}
.sidebar-menu .menu-open>a>.fa-angle-left,
.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu li>a>.fa-angle-left,
.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}
/* end dashboard admin */
/* image store */
.store-header {
  padding-top: 40px;
  padding-left: 20px;
}
.image-store .event-title{
  padding: 10px 0px 0px 0px;
}
.image-store#list-esection .date-create{
  color:#7f7f7f;
}
.image-store .event-title h3>i{
  padding-right: 10px;
  font-size: 30px;

}

.image-store .new-event{
  padding-top: 8px;
  padding-left: 0px;
}
.image-store#list-esection .image-detail .events-list{
  border-radius: 0px;
  width: 22%;
}
.image-store#list-esection .events-list .event_title{
  border-radius: 0px;
  height: 20%;
  background: rgba(0, 0, 0, 0.36);
}
/* end image store */
/* footer */
footer{
  background-color: #2699fb;
  color:#ffffff;
  font-size: 12px;
  position: relative;
  z-index: 999;
}
footer a{
  color:#ffffff;
}
footer a:hover{
  color:#dcd8d8;
  text-decoration: none;
}
footer .btn-primary{
  background-color: #ffffff;
  color: #2699fb;
  border: 1px solid #f1f1f1;

}
footer .btn-primary:hover,
footer .btn-primary:active,
footer .btn-primary:focus{
  background-color: #65b5f9!important;
  color: #ffffff;
  border: 1px solid #65b5f9;

}
footer p.title{
  text-transform: uppercase;
  font-weight: bold;
}
footer #left-footer{
  padding-left: 60px;
}
/* end footer */
@media (min-width: 992px){
    .navbar#mainNav{
      background-color: #2699fb;
    }
    #signup-btn{
      border: 1px solid #ffffff;
      border-radius: 5px;
    }
    #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33,37,41,.1);
    background-color: #2699fb;
}
  }
@media (min-width: 768px){
  #contacts .userdetail{
    width: 30%;
    display:inline-block;
  }
  #list-esection .events-list{
    width: 23%;
  }

  footer .m-0{
    padding-top: 180px;
  }
}
@media (max-width: 990px){
  .navbar-nav{
    display: inline-block;
    width: 100%;
  }
  .navbar-nav .nav-item.dropdown{
    display: inline-block;
    width: 22%
  }
  .navbar-nav .nav-item .nav-link .user-image{
    display: none;
  }
}
